*{
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   transition: 0.05;
}

a{
    text-decoration: none ;
    color: white;
}
.navbar>a>li:hover {
    color: black;
    transition: color 0.3s ease;
}

.nav-transparente {
    background-color: rgba(95, 111, 82, 1);
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: rgb(93, 122, 68);
    transition: background-color 0.3s ease;
}

.navbar:hover a {
    color: black;
    transition: color 0.3s ease;
}



body{
    background-color: #FEFAE0;
}


.navbar{
    display: inline-flex;
    background-color: #5F6F52;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 1000;
    position: fixed;

}

.nav-link{
    color: white;
}

.navbar-brand>img{
    height: 15vh;
    align-items: baseline;
    display: flex;
    margin-top: 2vh;
}

.navbar:hover a {
    color: black;
}

.banner{
    background-image: url(../img/fundoBanner.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;
    display: flex;
    background-size: cover;
   
}
.banner h1,
.banner h3 {
    transition: font-size 0.3s ease;
}

.banner button:hover {
    background-color: #7B4230;
    transition: background-color 0.3s ease;
}


.conteudo{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}



.conteudo button {
    border-radius: 37px;
    background-color: #C4661F;
    color: white;
    width: 16vw;
    height: 7vh;
    justify-content: center;
    align-items: center;
    display: flex;
}


.sobre{
    background-color: #FEFAE0;
}



.sobre>h1{
    justify-content: center;
    display: flex;
    color: #B55219;
    padding-top: 6vh;
}

.sobre>section{
    display: flex;
    margin-top: 6vh;
    margin-left: 12vw;
    margin-right: 12vw;
    align-items: end;
}


.sobre section img{
    max-width: 23vw;
    max-height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficios{
    background-color: #FEFAE0;
}


.beneficios>h1{
    justify-content: center;
    display: flex;
    color: #B55219;
    padding-top: 6vh;
}

.beneficios>section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 6vh;
}

.projetos>h1{
    justify-content: center;
    display: flex;
    color: #B55219;
    padding-top: 6vh;
}

.projetos>section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 6vh;
}

.card{
    background-color: #B99470;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.21);
}

.card {
    transition: transform 0.3s ease;
   border-radius: 50px;;

}

.card:hover {
    transform: translateY(-10px);
}


.card>i{
    font-size: 20vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    color: #C4661F;

}

.card i img{
    width: 20vh;

}

.card-title{
    justify-content: center;
    display: flex;
    color: white;
    text-align: center;
}

.card-text{
    color: white;
}

.contato{
    background-color: #FEFAE0;
}

.contato>h1{
    justify-content: center;
    display: flex;
    color: #B55219;
    padding-top: 6vh;
}

.contato>section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 6vh;
}

.contato>section>.direita>button{
    border-radius: 37px;
    background-color: #C4661F;
    color: white;
    width: 16vw;
    height: 7vh;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contato button:hover {
    background-color: #7B4230;
    transition: background-color 0.3s ease;
}

.form-control{
    background-color: #A9B388
}

.form-label{
    display: flex;
}

.form-control::placeholder{
    color: #B55219;
}

.mb-3>input[type = "email"]{
    height: 10vh;
    width: 25vw;
}

textarea.form-control {
    width: 25vw;
}

.comentarios {
    background-color: #FEFAE0;
    padding: 2rem;
}

.comentario {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comentarios h1 {
    justify-content: center;
    display: flex;
    color: #B55219;
}

.comentario h3 {
    margin-bottom: 0.5rem;
    color: #B55219;
}

.comentario p {
    color: #666666;
}

footer{
    background-color:  #5F6F52;
    margin-top: 12vh;
    display: flex;
}

footer>section{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    height: 12vh;
}

footer>section>a{
    text-decoration: none;
}

footer>section>a>li{
    list-style: none;
    padding: 1vw;
    color: white;
    text-decoration: none;

}

.footerLinks{
    align-items: end;
}

.footerRedesSociais{
    display: flex;
    justify-content: center;
    align-items: end;
 
}

.footerRedesSociais>li{
    list-style: none;

}
.footerRedesSociais>li>a{
    text-decoration: none;
    
}

.footerRedesSociais>ul>li>a>i{
    color: #C4661F;
    font-size: xx-large;
    margin-right: 1vw;
}

.footerRedesSociais>ul>li>a>i:hover {
    color: black;
}




footer:hover {
    background-color: rgb(93, 122, 68);
    transition: 0.3ms all;
}


.footerLinks>a>li>h2:hover {
    color: black;
}


@media(max-width:768px){

nav{
    width: 100%;
}

.direita{   
     width: 131vw;
}
.direita>figure>img{
    width: 55vw;
}

.esquerda>button{
    margin-left: 5vh;

}


}

@media(max-width: 480px){
    .esquerda>h3{
        margin-top: 5vh;
    }
    .esquerda>button{
      
        width: 37vw;
        margin-left: 1vh;

    }
    
    .footerRedesSociais{
        justify-content: right;
    }
    .footerRedesSociais>li>a>i{
        padding-left: 5vw;
    }

    .footerRedesSociais>li>a>i{
        padding-left: 5vw;
    }
    .contato>section>button{
         width: 37vw;
         margin-left: 22vw;

    }
    
}

/* For screens smaller than 768px */
@media(max-width:768px){
    .conteudo img {
        width: 35vw;
    }

    .conteudo button{
        width: 20vw;
    }
    nav{
        width: 100%;
    }
    .sobre>section{
        flex-wrap: wrap;
    }
    .sobre .card{
        width: 100%;
        height: 40vh;
    }

    .card{
        margin-top: 4vh;
    }
    .direita{   
        width: 100%;
    }

    .contato section{
        flex-wrap: wrap;
    }

    .esquerda, .direita {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .esquerda>button {
        margin-left: 0;
        margin-top: 2vh;
    }

    .footerRedesSociais{
        justify-content: flex-end;
    }

    .footerRedesSociais>li>a>i {
        padding-left: 5vw;
    }

    .contato>section>button {
        width: 100%;
        margin-left: 0;
    }
}

/* For screens smaller than 480px */
@media(max-width: 480px){
    .sobre .card{
        width: 80vw;
        height: 40vh;
    }
    .esquerda>h3{
        margin-top: 5vh;
    }

    .esquerda>button{
        width: 90%;
        margin-left: 5%;
    }

    .footerRedesSociais>li>a>i{
        padding-left: 5vw;
    }

    .footerRedesSociais>li>a>i{
        padding-left: 5vw;
    }

    .contato>section>button {
        width: 90%;
        margin-left: 5%;
    }
}

