.conteudoLateralEsquerda {
    display: flex;
    width: 15vw;
    background: rgb(0, 0, 0);
    position: fixed;
    border: 0;
    border-style: groove;
    border-right-color: rgba(57, 57, 57,0.5);
    border-right-width: thin;
}

.logo {
    margin-top: 5vh;
    width: 77%;
    margin-left: auto;
}


.conteudoLateralEsquerda ul {
    list-style: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 4vh;
    align-items: baseline;

}

.conteudoLateralEsquerda ul li {
    height: 5vh;
    width: 100%;
    transition: height 0.5s;
    color: white;
}

.conteudoLateralEsquerda ul li:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    height: 7vh;
    cursor: pointer;

}

.icone {
    font-size: 4vh;
    margin-right: 1vw;
    color: white;
}

.itensDistantes {
    margin-top: inherit;
    align-items: center;
    display: flex;
}

.ultimoItem {
    margin: 0;
}