* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #e7ffff;
    margin-top: 100px;
}

/*NavBar*/
nav {
    height: 100px;
    background-color: #e7ffff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-transparente {
    background-color: rgba(231, 255, 255, 0.8);
    transition: background-color 0.3s ease;
}


nav:hover {
    background-color: rgba(231, 255, 255, 0.8);
}


nav:hover a {
    color: black;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    display: inline;
    float: right;
}


nav>ul>li>a:hover {
    color: #80E0A8;
}

nav>ul>li>a>h5 {
    margin-left: 100px;
    margin-top: 20px;
}

.logo {
    margin-left: 20px;
    height: 75px;
    width: 75px;
    float: left;
    border-radius: 5px;
}

.navItem {
    margin-top: 15px;
    margin-right: 50px;
}


/*footer*/


footer {
    background-color: #80E0A8;
    height: 200px;
    width: auto;
    display: flex;
    border-radius: 28px;
    margin-top: 123px;
}

footer>a {
    color: #e7ffff;
    padding-top: 100px;

}

footer>a>i {
    margin-top: 50px;
    margin-left: 50px;

}

.conteudo>ul {
    list-style-type: none;

}

.logoFooter {
    padding-top: 100px;
    height: 100px;
    width: 100px;
}

.conteudo {
    list-style-type: none;
    margin-left: 258px;
    margin-top: 50px;
    text-align: center;


}


footer>h6 {
    margin-top: 150px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

/*pagina home*/
/*banner*/
.bannerPrincipal {
    margin-top: 100px;
    margin-left: 392px;
    margin-right: 100px;
    text-align: center;
    padding-top: 50px;
    width: 985px;
}

#carouselExampleCaptions {
    padding-top: 50px;
}

/*noticiasEmDestaque*/

.noticiasEmDestaque {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}

/*coluna1*/

.coluna {
    padding-left: 200px;
}

.coluna>a {
    text-decoration: none;

}

.coluna>a>h2 {
    margin-left: 90px;
    color: black;
}

.card>a>figure>img {
    height: 180px;
}



/*pagina home fim*/

/*pagina filmes*/

.noticias {
    margin-top: 123px;
}

.noticia {
    width: 700px;
    height: 400px;
}


.noticia>a {
    text-decoration: none;
}

.noticia>a>figure {
    width: 1000px;
    display: flex;
    margin-top: 50px;
}

.noticia>a>figure>img {
    height: 350px;
    width: 400px;
    margin-left: 25px;
    padding: 25px;
    border-radius: 39px;
}

.noticia>a>figure>h5 {
    color: black;
    margin-top: 69px;
}

.noticia>figcaption {
    margin-left: 25px;
    width: 359px;
    text-align: center;
}

/*pagina destaque inicio*/

.banner {
    margin-top: 100px;
    margin-left: 392px;
    margin-right: 100px;
    text-align: center;
    padding-top: 50px;
    width: 985px;
}

.texto {
    margin-left: 392px;
    width: 985px;
}

.texto>p {
    font-size: larger;
    font-style: italic;
}

.imagem {
    margin-top: 50px;
    margin-left: 392px;
    margin-right: 100px;
    text-align: center;
    padding-top: 50px;
    width: 985px;
}

.imagem>img {
    width: 985px;
    height: 550px;
}

/*pagina destaque fim*/

/*pagina game inicio*/

.video{
    margin-right: 100px;
    margin-top: 50px;
    margin-left: 392px;
    width: 985px;
    display: inline-grid;
    justify-content: center;

}

.video>h3{
    width: 559px;
    text-align: center;
}

.lista{
    margin-left: 786px;
    margin-top: 50px;
}

.lista>ul>li{
font-size: larger;
font-style: italic;
}

/*pagina game fim*/
