*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #e7ffff;
    
}

/*NavBar*/

nav {
    height: 100px;
    background-color: #e7ffff;
   /* position: fixed;*/
    margin-top: 50px;
    width: 1900px;

}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    display: inline;
    float: right;
}

nav>ul>li>a {
    color: black;
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: #80E0A8;
}

nav>ul>li>a>h5 {
    margin-left: 100px;
    margin-top: 20px;
}

.logo {
    margin-left: 20px;
    height: 75px;
    width: 75px;
    float: left;
    border-radius: 5px;
}

.navItem {
    margin-top: 15px;
    margin-right: 50px;
}


/*footer*/


footer {
    background-color: #80E0A8;
    height: 200px;
    width: auto;
    display: flex;
    border-radius: 28px;
    margin-top: 123px;
}

footer>a {
    color: #e7ffff;
    padding-top: 100px;

}

footer>a>i {
    margin-top: 50px;
    margin-left: 50px;

}

.conteudo>ul{
    list-style-type: none;

}

.logoFooter {
    padding-top: 100px;
    height: 100px;
    width: 100px;
}

.conteudo {
    list-style-type: none;
    margin-left: 258px;
    margin-top: 50px;
    text-align: center;


}

.conteudo>li>a{
    color: black;
    text-decoration: none;

}

footer>h6{
    margin-top: 150px ;
    text-align: center;
}


/*pagina home*/
/*banner*/
.banner {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding-top: 50px;
}

#carouselExampleCaptions{
    padding-top: 50px;
}

/*noticiasEmDestaque*/

.noticiasEmDestaque{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}

/*coluna1*/

.coluna1>a{
    text-decoration: none;
 
}

.coluna1>a>h2{
    margin-left: 90px;
    color: black;
}

/*coluna 2*/
.coluna2{
    margin-left: 400px;
}
.coluna2>a{
text-decoration: none;
}
.coluna2>a>h2{
   margin-left: 90px;
   color: black;
    }

/*coluna 3*/

.coluna3{
    margin-left: 400px;
}
.coluna3>a{
text-decoration: none;
}
.coluna3>a>h2{
   margin-left: 90px;
   color: black;
    }

/*pagina home fim*/

/*pagina filmes*/

section{
    margin-top: 123px;
}

.noticia{
    width: 700px;
    height: 400px;
}


.noticia>a{
    text-decoration: none;
}

.noticia>a>img{
    height: 350px;
    width: 400px;
    margin-left: 25px;
    padding: 25px;
    border-radius: 39px ;
}

.noticia>a>h5{
    margin-left: 300px;
    display: contents;
    color: black;
}

.noticia>h6{
    margin-left: 25px;
    width: 359px;
    text-align: center;
}